@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --accent-color: #4440f6;
  --white-color: #ffffff;
  --dark-text-color: #111321;
  --light-text-color: #f4f4f4;
  --secondary-text-color: #a8a8a8;
  --light-bg-color: #f4f4f4;
  --dark-bg-color: #2e2e2e;
}

body {
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.weather_container {
  width: 288px;
  height: 469px;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 40px 37px 84px 35px;
}
@media screen and (min-width: 768px) {
  .weather_container {
    width: 353px;
    height: 675px;
    padding: 40px 32px 130px 33px;
  }
}
@media screen and (min-width: 1280px) {
  .weather_container {
    width: 395px;
    height: 675px;
    padding: 45px 53px 130px 53px;
  }
}

.weather_info {
  display: flex;
}

.temperature_title {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .temperature_title {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .temperature_title {
    font-size: 64px;
    line-height: 1.17;
  }
}

.description_title {
  color: var(--white-color);
  font-size: 24px;
  line-height: 1.17;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .description_title {
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .description_title {
    font-size: 36px;
    line-height: 1.17;
    margin-left: 15px;
  }
}

.location_container {
  display: flex;
  align-items: center;
  width: 121px;
  height: 34px;
  padding: 9px 8px 9px 11px;
  gap: 7px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .location_container {
    width: 177px;
    height: 42px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .location_container {
    width: 177px;
    padding: 10px 17px 9px 11px;
    margin-left: 8px;
    gap: 12px;
  }
}

.vl {
  border-left: 1px solid var(--white-color);
  height: 63px;
  margin-right: 11px;
}
@media screen and (min-width: 768px) {
  .vl {
    height: 81px;
  }
}
@media screen and (min-width: 1280px) {
  .vl {
    margin-top: 8px;
  }
}

.location_wrapper {
  display: block;
}

.location_icon {
  stroke: var(--white-color);
}

.location__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .location__name {
    font-size: 20px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .location__name {
    font-size: 20px;
    line-height: 1.17;
  }
}

.weather__img {
  display: block;
  width: 128px;
  height: 121px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .weather__img {
    width: 165px;
    height: 156px;
    margin-top: 91px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .weather__img {
    width: 165px;
    height: 156px;
    /* margin-top: 89px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
    margin-top: 90px;
  }
}

.date_container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  color: var(--white-color);
  text-align: center;
  margin-top: 40px;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .date_container {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .date_container {
    margin-right: auto;
    margin-left: auto;
  }
}

.date_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.location_name {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .location_name {
    font-size: 20px;
    line-height: 1.17;
  }
}

.temperature__wrapper {
  margin-right: 1px;
}

.weather__date {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .weather__date {
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .weather__date {
    font-size: 36px;
    line-height: 1.17;
  }
}

.weather__day {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .weather__day {
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .weather__day {
    font-size: 36px;
    line-height: 1.17;
  }
}

.weather__month {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .weather__month {
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .weather__month {
    font-size: 36px;
    line-height: 1.17;
  }
}

.weather__year {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .weather__year {
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .weather__year {
    font-size: 36px;
    line-height: 1.17;
  }
}

.filters-date .container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}/*# sourceMappingURL=index.css.map */